.layout-container {
  display: flex;
  height: calc(100vh - 60px); /* Ajusta si tu header tiene otro alto */
  background-color: #f5f5f5;
}

app-sidebar {
  width: 80px;
  background-color: #2c2f33;
  color: white;
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}
