/* Reset global básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #2b2d31;
  color: #ffffff;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  overflow: hidden;
}

/* Scrollbar universal para Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3e4147;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4a4d55;
}

::-webkit-scrollbar-track {
  background: #2b2d31;
}

::-webkit-scrollbar-button {
  display: none;
}
